<a href="https://colab.research.google.com/github/tanoManzo/mimic_sdoh/blob/main/MIMIC_SDoH_homeless.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Collection, Embeddings and Attitude

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
notes_path = "/content/drive/MyDrive/NIH/Data/"

In [ ]:
note_events = "NOTEEVENTS.csv"
df_note_events = pd.read_csv(notes_path+note_events)
df_note_events.info()

<ipython-input-3-8fd00f55f791>:2: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_note_events = pd.read_csv(notes_path+note_events)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2083180 entries, 0 to 2083179
Data columns (total 11 columns):
 #   Column       Dtype
---  ------       -----
 0   ROW_ID       int64
 1   SUBJECT_ID   int64
 2   HADM_ID      float64
 3   CHARTDATE    object
 4   CHARTTIME    object
 5   STORETIME    object
 6   CATEGORY     object
 7   DESCRIPTION  object
 8   CGID         float64
 9   ISERROR      float64
 10  TEXT         object
dtypes: float64(3), int64(2), object(6)
memory usage: 174.8+ MB

In [ ]:
def smart_print(df):
  print(f"Number of patients: {df['SUBJECT_ID'].nunique()}\n")
  print(f"Total Notes: {len(df['TEXT'])}\n")
  print(f"Notes per categories:\n{df['CATEGORY'].value_counts()[:10]}\n")
  print(f"Notes per description:\n{df['DESCRIPTION'].value_counts()[:10]}")

smart_print(df_note_events)

Number of patients: 46146

Total Notes: 2083180

Notes per categories:
Nursing/other        822497
Radiology            522279
Nursing              223556
ECG                  209051
Physician            141624
Discharge summary     59652
Echo                  45794
Respiratory           31739
Nutrition              9418
General                8301
Name: CATEGORY, dtype: int64

Notes per description:
Report                              1132519
Nursing Progress Note                191836
CHEST (PORTABLE AP)                  169270
Physician Resident Progress Note      62698
CHEST (PA & LAT)                      43158
CT HEAD W/O CONTRAST                  34485
Respiratory Care Shift Note           31105
Nursing Transfer Note                 30773
Intensivist Note                      26144
CHEST PORT. LINE PLACEMENT            21596
Name: DESCRIPTION, dtype: int64

In [ ]:
condition = df_note_events['TEXT'].apply(lambda x: 'homeless' in x.lower())
df_notes_homeless = df_note_events[condition]
smart_print(df_notes_homeless)

Number of patients: 481

Total Notes: 2214

Notes per categories:
Nursing              749
Physician            580
Discharge summary    496
Nursing/other        244
Social Work           63
Radiology             32
Nutrition             21
Rehab Services        15
General                9
Case Management        4
Name: CATEGORY, dtype: int64

Notes per description:
Report                                       733
Nursing Progress Note                        601
Physician Resident Admission Note            216
Nursing Transfer Note                        142
Physician Resident Progress Note             124
Intensivist Note                              86
Physician Attending Admission Note - MICU     68
Social Work Admission Note                    41
Social Work Progress Note                     22
Clinical Nutrition Note                       21
Name: DESCRIPTION, dtype: int64

In [ ]:
condition = df_notes_homeless['TEXT'].apply(lambda x: 'explain' in x.lower())
smart_print(df_notes_homeless[condition])

Number of patients: 72

Total Notes: 147

Notes per categories:
Discharge summary    62
Physician            45
Nursing              26
Social Work           7
Nursing/other         5
General               1
Radiology             1
Name: CATEGORY, dtype: int64

Notes per description:
Report                                                67
Physician Resident Progress Note                      25
Nursing Progress Note                                 21
Physician Resident Admission Note                     15
Nursing Transfer Note                                  5
Social Work Progress Note                              5
Physician Attending Progress Note                      2
Social Work Admission Note                             2
Physician Resident/Attending Admission Note - MICU     2
Physician Attending Admission Note                     1
Name: DESCRIPTION, dtype: int64

In [ ]:
condition = (df_notes_homeless['CATEGORY'] == 'Discharge summary') & (df_notes_homeless['TEXT'].apply(lambda x: 'explain' in x.lower()))
print(df_notes_homeless[condition]['TEXT'].iloc[0])

Admission Date:  [**2157-5-31**]              Discharge Date:   [**2157-6-1**]

Date of Birth:  [**2106-1-4**]             Sex:   M

Service: MEDICINE

Allergies:
Penicillins

Attending:[**First Name3 (LF) 338**]
Chief Complaint:
tremors, nausea, vomiting

Major Surgical or Invasive Procedure:
none

History of Present Illness:
50 y/o M w/ h/o ETOH abuse, who p/w tremors, tachycardia,
nausea, vomiting x 2 days. These symptoms started after he
stopped drinking ETOH 2 days prior to admission. He notes that
he threw up multiple times, including a small amount of bright
red hematemesis. He reports associated abdominal pain and
tremulousness. +VH's, AH's. Denies seizure activity. Denies SI.
He normally drinks [**1-19**] to 1 liter of wine per day, but stopped
on sunday. He has a h/o w/d seizures. Because of his ongoing
symptoms he presented to the ED for evaluation. In the ED, he
recieved a total of 40mg IV valium, 3L NS, Anzemet 12.5mg IV,
Banana bag, and was transferred to the [**Hospital Unit Name 153**] for monitoring.
*
On arrival to the [**Hospital Unit Name 153**], he was noted to be tremulous with VH's.
Cognition was intact and he was HD stable. He was started on
valium CIWA monitoring.

Past Medical History:
EtOH abuse-hx of DT's requiring ICU admission with heavy benzo
needs in past and WD sz's
HTN
?pna with empyema?
UGI bleed-admitted to [**Hospital1 18**] [**Date range (1) 331**] but no GI workup done for
risk of DT's

Social History:
Pt is homeless. Denies IVDA. Smokes 2 packs a day. Drinks [**1-19**] to
1 liter of wine/day. No other ETOH use. No other illicit drug
use. has one daughter [**Name (NI) 339**] at [**Telephone/Fax (1) 340**] who lives w/ her
mother.

Family History:
non-contributory

Physical Exam:
wt 130 lb. T 97.4, BP 139/93, HR 95, RR 16, 100% RA
gen- tremulous. non-diaphoretic. NAD
heent- EOMI/PERRLA. muddy sclera. non-icteric. no nystagmus. op
w/ poor dentition. no thrush.
chest- lungs CTA. no r/r/w. R scapula well-healed scar. +
gynecomastia
cv- RRR. normal S1/S2. no m/r/g1
abd- soft, mild mid-epigastric tenderness to palpation. no
rebound or guarding. no HSM. no caput or telangiectasias.
ext- no c/c/e.
neuro- CN II-XII intact. communication appropriate. [**5-19**] motor
strength 5/5 LE's. poor f->n b/l. coarse tremor, but no
asterixis.


Pertinent Results:
Labs:
-----
CHEM: Na 138, K 3.8, Cl 77, CO2 37, BUN 22, Cr 2.6, Glu 147. AG
=24
CBC: WBC 7.5, Hct 47.6, Plt 107, MCV 92
Coags- INR 1.1, PTT 26.9
Amylase 110, Lipase 41
*
CT chest [**4-19**]- RLL lung mass, spiculated. fatty liver.
*
EKG: sinus tach, QTc 450, J-pt elevation in V1-V3 c/w early
repolarizations
*
U/A: negative
*
Serum ETOH neg, Tylenol neg, ASA neg, benzo neg.
*
Serum Acetone small, Osm 304

Brief Hospital Course:
50 y/o M w/ h/o ETOH abuse, chronic pancreatitis, who presented
with signs and symptoms of ETOH withdrawal

1. ETOH w/d: Presented with tachycardia, hallucinations,
tremulousness. Given 40mg Valium in ED. Admitted to [**Hospital Unit Name 153**] and
started on valium CIWA scale. Started on Folate, Thiamine, MVI.
Monitored on telemetry overnight. He had no evidence of seizure
or HD instabilitiy o/n. His CIWA was [**8-23**], mainly based on
agitation and tremulousness, and he recieved an additional 120mg
valium overnight. Early on HD 2 the patient demanded to leave.
It was explained to the patient that he has a high probability
of withdrawal seizure or DT's and that he needed continued ICU
monitoring. The patient reported that he understood this but
still wished to leave against medical advice. He was felt to
have capacity to make this decision since he had no evidence of
delirium and clearly understood his situation and risks
involved. The case was discussed with the on call psychiatry
resident, ICU medicine resident and ICU staff attending.
Therefore the patient signed out AMA on hospital day 2. Prior to
discharge we did have him ambulate around the intensive care
unit and he was able to do this without too much difficuluty,
although he was still a bit tremulous upon discharge. He had no
other evidence of active w/d symptoms.

2. Anion-gap Acidosis: Suspected secondary to ketoacidosis,
likely from poor PO intake. ETOH was negative suggesting against
ETOH related cause. Serum acetone was positive, with a normal
serum osm. His gap closed with IVF hydration.

3. Hypochloremic Metabolic Alkalosis: Secondary to HCL loss from
vomiting. Improved with IVF hydration.

4. Hematemesis: Limited hematemesis early the morning of
admission. He had no further episodes of blood loss and he was
guaiac negative on admission. Hematocrit remained stable
overnight.

5. Abd pain: Suspect secondary to chronic pancreatitis.
Amylase/Lipase unchanged from previous levels. AST/ALT 2:1 in
setting of h/o ETOH abuse. Recent CT ([**4-19**]) negative for liver
or GB dx, only fatty liver.

6. RLL lung mass: Seen on Chest CT from [**4-19**], concerning for
primary lung CA. Has not been worked up further. Not able to set
up follow-up as patient left AMA.


Medications on Admission:
none recently

Discharge Medications:
none

Discharge Disposition:
Home

Discharge Diagnosis:
ETOH withdrawal

Discharge Condition:
fair

In [ ]:
df_notes_total_hosp_stays_micu = df_note_events[df_note_events['HADM_ID'].isin(hosp_stay_id_micu)]
df_notes_total_hosp_stays_micu.sort_values(by=['HADM_ID','CHARTTIME'])
df_notes_total_hosp_stays_micu_social_worker = df_notes_total_hosp_stays_micu[df_notes_total_hosp_stays_micu['CATEGORY']=='Social Work']
#df_notes_total_hosp_stays_micu.info()
print(f'Number of Hospital Stays with Social Worker notes in MICU: {len(df_notes_total_hosp_stays_micu_social_worker.HADM_ID.unique())}')
df_notes_total_hosp_stays_csru = df_note_events[df_note_events['HADM_ID'].isin(hosp_stay_id_csru)]
df_notes_total_hosp_stays_csru.sort_values(by=['HADM_ID','CHARTTIME'])
df_notes_total_hosp_stays_csru_social_worker = df_notes_total_hosp_stays_csru[df_notes_total_hosp_stays_csru['CATEGORY']=='Social Work']
#df_notes_total_hosp_stays.info()
print(f'Number of Hospital Stays with Social Worker notes in CSRU: {len(df_notes_total_hosp_stays_csru_social_worker.HADM_ID.unique())}')

Subjects with social worker notes

In [ ]:
df_notes_total_subjects_csru = df_note_events[df_note_events['SUBJECT_ID'].isin(subject_id_csru)]
df_notes_total_subjects_csru_social_worker = df_notes_total_subjects_csru[df_notes_total_subjects_csru['CATEGORY']=='Social Work']
print(f'Number of Subjects with Social Worker notes in MICU: {len(df_notes_total_subjects_csru_social_worker.SUBJECT_ID.unique())}')

Number of Subjects with Social Worker notes in MICU: 107

In [ ]:
df_notes_total_subjects_micu = df_note_events[df_note_events['SUBJECT_ID'].isin(subject_id_micu)]
df_notes_total_subjects_micu_social_worker = df_notes_total_subjects_micu[df_notes_total_subjects_micu['CATEGORY']=='Social Work']
print(f'Number of Subjects with Social Worker notes in MICU: {len(df_notes_total_subjects_micu_social_worker.SUBJECT_ID.unique())}')

Number of Subjects with Social Worker notes in MICU: 707

In [ ]:
print(df_note_events['CATEGORY'].unique())

['Discharge summary' 'Echo' 'ECG' 'Nursing' 'Physician ' 'Rehab Services'
 'Case Management ' 'Respiratory ' 'Nutrition' 'General' 'Social Work'
 'Pharmacy' 'Consult' 'Radiology' 'Nursing/other']

In [ ]:
import re
df_notes_icd8xx_csru_social = df_notes_total_hosp_stays_csru.merge(df_patients[['SUBJECT_ID', 'EXPIRE_FLAG']], on=['SUBJECT_ID'], how='inner')
#df_notes_icd8xx_csru_social = df_notes_icd8xx_csru_social.merge(df_8xx_csru[['SUBJECT_ID', 'ICD9_CODE','HADM_ID']], on=['SUBJECT_ID','HADM_ID'], how='inner')
df_notes_icd8xx_csru_social = df_notes_icd8xx_csru_social[(df_notes_icd8xx_csru_social['CATEGORY']=='Nursing') | (df_notes_icd8xx_csru_social['CATEGORY']=='Nursing/other') | (df_notes_icd8xx_csru_social['CATEGORY']=='Social Work')]

# regex pattern
pattern = r'(?i)(social work note:|social work note-|social work note\n\n|social work note\n|social work:|social work-|social work\n\n|social work\n|social:|soc:|soc;|soc-|social-|social -|social \n|social\n\n|social\n)(.*?)(?:\n|$)'

# grabs multiple results if the pattern shows more than once
df_notes_icd8xx_csru_social['SOCIAL'] = df_notes_icd8xx_csru_social['TEXT'].apply(lambda x: ' '.join([match[1] for match in re.findall(pattern, x.lower(), flags=re.DOTALL)]) if re.findall(pattern, x.lower(), flags=re.DOTALL) else '')

#df_notes_icd8xx_tsicu_social = df_notes_icd8xx_tsicu_social[df_notes_icd8xx_tsicu_social['TEXT'].str.lower().str.contains('social work', regex=True)] # grabs only "social work" examples
#df_notes_icd8xx_tsicu_social['SOCIAL'] = df_notes_icd8xx_tsicu_social['TEXT'].str.lower().str.extract(pattern, flags=re.DOTALL)[1]  # grabs only the first result of regex pattern

#df_notes_icd8xx_tsicu_social = df_notes_icd8xx_tsicu_social.sort_values(by=['HADM_ID','CHARTTIME']) # for testing
#df_notes_icd8xx_tsicu_social = df_notes_icd8xx_tsicu_social[df_notes_icd8xx_tsicu_social['EXPIRE_FLAG'] == 1] # for testing
#df_notes_icd8xx_tsicu_social = df_notes_icd8xx_tsicu_social[df_notes_icd8xx_tsicu_social['HADM_ID'] == 108474] # for testing

df_notes_icd8xx_csru_social = df_notes_icd8xx_csru_social.sort_values(by='SOCIAL', key=lambda x: x.str.len(), ascending=False)
df_notes_icd8xx_csru_social.info()
df_notes_icd8xx_csru_social.head(300)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92154 entries, 36824 to 199898
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ROW_ID       92154 non-null  int64
 1   SUBJECT_ID   92154 non-null  int64
 2   HADM_ID      92154 non-null  float64
 3   CHARTDATE    92154 non-null  object
 4   CHARTTIME    92154 non-null  object
 5   STORETIME    92154 non-null  object
 6   CATEGORY     92154 non-null  object
 7   DESCRIPTION  92154 non-null  object
 8   CGID         92154 non-null  float64
 9   ISERROR      45 non-null     float64
 10  TEXT         92154 non-null  object
 11  EXPIRE_FLAG  92154 non-null  int64
 12  SOCIAL       92154 non-null  object
dtypes: float64(3), int64(3), object(7)
memory usage: 9.8+ MB

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,EXPIRE_FLAG,SOCIAL
36824,1485985,17081,103931.0,2138-08-13,2138-08-13 15:52:00,2138-08-13 15:59:00,Nursing/other,Report,17765.0,NaN,SOCIAL WORK NOTE: Met this afternoon for one ...,1,met this afternoon for one hour with pt's wi...
26057,1519601,19558,101168.0,2172-09-30,2172-09-30 14:53:00,2172-09-30 15:02:00,Nursing/other,Report,17765.0,NaN,SOCIAL WORK NOTE: New trauma pt on SICU admit...,0,new trauma pt on sicu admitted [**9-29**] s/...
125737,1527284,20155,152446.0,2143-07-28,2143-07-28 05:24:00,2143-07-28 06:02:00,Nursing/other,Report,17512.0,NaN,"[** 1176**] NPN\nSEE 2 NOTES FROM THIS SHIFT, ...",1,son [**name (ni) **] present when bleeding be...
20713,1445244,14019,188498.0,2167-08-11,2167-08-11 15:25:00,2167-08-11 15:41:00,Nursing/other,Report,17765.0,NaN,SOCIAL WORK NOTE: New trauma patient on CTIC/...,1,new trauma patient on ctic/sicu. pt is an u...
48022,1450507,14443,185831.0,2124-09-11,2124-09-11 13:46:00,2124-09-11 13:55:00,Nursing/other,Report,17765.0,NaN,"SOCIAL WORK NOTE: Met with pt's wife, [**Name...",0,"met with pt's wife, [**name (ni) 1257**], to..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27035,1308592,3597,162212.0,2128-04-17,2128-04-17 18:44:00,2128-04-17 18:56:00,Nursing/other,Report,16140.0,NaN,SICU NPN CONT...\nGU: urine sent off this AM f...,0,[**name (ni) 25**] wife [**doctor first name ...
50620,1515459,19206,164924.0,2120-10-01,2120-10-01 12:27:00,2120-10-01 12:29:00,Nursing/other,Report,17765.0,NaN,"SOCIAL WORK NOTE: Pt's partner, [**Name (NI) ...",0,"pt's partner, [**name (ni) **], mother, [**n..."
60972,1510239,18874,101982.0,2195-10-06,2195-10-06 16:37:00,2195-10-06 16:39:00,Nursing/other,Report,17765.0,NaN,SOCIAL WORK NOTE: Please see ED note from thi...,1,please see ed note from this sw earlier in a...
22238,1272116,803,143339.0,2111-10-17,2111-10-17 04:58:00,2111-10-17 05:50:00,Nursing/other,Report,15255.0,NaN,S/P FALL SDH C/SICU NSG ADMIT NOTE.\nPT ARRIVE...,1,pt lives w/ daughter on [**initials (namepatte...
36849,1486005,17081,103931.0,2138-08-20,2138-08-20 14:37:00,2138-08-20 14:39:00,Nursing/other,Report,17765.0,NaN,SOCIAL WORK NOTE: Ethics Consult Service was ...,1,ethics consult service was consulted by orth...

In [ ]:
import re

df_notes_micu_social = df_notes_total_hosp_stays_micu.merge(df_patients[['SUBJECT_ID', 'EXPIRE_FLAG']], on=['SUBJECT_ID'], how='inner')
#df_notes_icd8xx_csru_social = df_notes_icd8xx_csru_social.merge(df_8xx_csru[['SUBJECT_ID', 'ICD9_CODE','HADM_ID']], on=['SUBJECT_ID','HADM_ID'], how='inner')
df_notes_micu_social = df_notes_micu_social[df_notes_micu_social['CATEGORY']=='Social Work']

# regex pattern
pattern = r'(?i)(social work note:|social work note-|social work note\n\n|social work note\n|social work:|social work-|social work\n\n|social work\n|social:|soc:|soc;|soc-|social-|social -|social \n|social\n\n|social\n)(.*?)(?:\n|$)'

# grabs multiple results if the pattern shows more than once
df_notes_micu_social['SOCIAL'] = df_notes_micu_social['TEXT'].apply(lambda x: ' '.join([match[1] for match in re.findall(pattern, x.lower(), flags=re.DOTALL)]) if re.findall(pattern, x.lower(), flags=re.DOTALL) else '')

#df_notes_icd8xx_tsicu_social = df_notes_icd8xx_tsicu_social[df_notes_icd8xx_tsicu_social['TEXT'].str.lower().str.contains('social work', regex=True)] # grabs only "social work" examples
#df_notes_icd8xx_tsicu_social['SOCIAL'] = df_notes_icd8xx_tsicu_social['TEXT'].str.lower().str.extract(pattern, flags=re.DOTALL)[1]  # grabs only the first result of regex pattern

#df_notes_icd8xx_tsicu_social = df_notes_icd8xx_tsicu_social.sort_values(by=['HADM_ID','CHARTTIME']) # for testing
#df_notes_icd8xx_tsicu_social = df_notes_icd8xx_tsicu_social[df_notes_icd8xx_tsicu_social['EXPIRE_FLAG'] == 1] # for testing
#df_notes_icd8xx_tsicu_social = df_notes_icd8xx_tsicu_social[df_notes_icd8xx_tsicu_social['HADM_ID'] == 108474] # for testing

df_notes_micu_social = df_notes_micu_social.sort_values(by='SOCIAL', key=lambda x: x.str.len(), ascending=False)
df_notes_micu_social.info()
df_notes_micu_social.head(300)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1352 entries, 404803 to 348365
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ROW_ID       1352 non-null   int64
 1   SUBJECT_ID   1352 non-null   int64
 2   HADM_ID      1352 non-null   float64
 3   CHARTDATE    1352 non-null   object
 4   CHARTTIME    1352 non-null   object
 5   STORETIME    1352 non-null   object
 6   CATEGORY     1352 non-null   object
 7   DESCRIPTION  1352 non-null   object
 8   CGID         1352 non-null   float64
 9   ISERROR      3 non-null      float64
 10  TEXT         1352 non-null   object
 11  EXPIRE_FLAG  1352 non-null   int64
 12  SOCIAL       1352 non-null   object
dtypes: float64(3), int64(3), object(7)
memory usage: 147.9+ KB

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,EXPIRE_FLAG,SOCIAL
404803,531119,62488,191090.0,2112-03-11,2112-03-09 05:15:00,2112-03-11 09:54:04,Social Work,Social Work Progress Note,16285.0,NaN,Note: This note is from [**2112-3-9**].\nSocia...,1,[**first name9 (namepattern2) 14366**] [**doct...
557223,666648,70516,199605.0,2189-03-27,2189-03-27 19:35:00,2189-03-27 19:35:17,Social Work,Social Work Progress Note,21359.0,NaN,SOCIAL WORK: [**First Name8 (NamePattern2) **...,1,[**first name8 (namepattern2) **] [**last na...
557232,666649,70516,199605.0,2189-03-27,2189-03-27 19:35:00,2189-03-27 19:54:34,Social Work,Social Work Progress Note,21359.0,NaN,SOCIAL WORK: [**First Name8 (NamePattern2) **...,1,[**first name8 (namepattern2) **] [**last na...
47090,384162,5242,195261.0,2123-07-30,2123-07-30 15:08:00,2123-07-30 15:08:20,Social Work,Social Work Progress Note,16285.0,NaN,Social Work\n Pt. known to this writer from ...,1,pt. known to this writer from 11r. please r...
44016,582207,65901,113793.0,2139-05-14,2139-05-14 14:55:00,2139-05-14 15:23:39,Social Work,Social Work Admission Note,16399.0,NaN,Family Information\n Next of [**Doctor First...,0,"worker for support, but she did not want to..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380290,542937,43257,135365.0,2158-12-04,2158-12-04 14:30:00,2158-12-04 14:30:41,Social Work,Social Work Admission Note,16399.0,NaN,Family Information\n Next of [**Doctor First...,0,
380894,650758,76418,152251.0,2149-12-31,2149-12-31 11:11:00,2149-12-31 11:11:48,Social Work,Social Work Progress Note,19926.0,NaN,"Social Progress Note, Transplant Service: Cont...",0,
380604,436927,64292,123357.0,2141-02-13,2141-02-13 15:10:00,2141-02-13 15:10:39,Social Work,Social Work Admission Note,14081.0,NaN,Family Information\n Next of [**Doctor First...,1,
380489,539239,91586,165668.0,2107-11-04,2107-11-03 15:28:00,2107-11-04 15:28:31,Social Work,Social Work Admission Note,16399.0,NaN,Family Information\n Next of [**Doctor First...,1,
380430,419807,87279,178855.0,2147-11-17,2147-11-16 10:19:00,2147-11-17 13:21:10,Social Work,Social Work Admission Note,16399.0,NaN,Family Information (10.15-16.08):\n Next of ...,0,

In [ ]:
PATH_TO_SAVE = "/content/drive/MyDrive/NIH/Data/"
name_file_to_save = 'NOTES_NURSING_TRAJECTORIES_CSRU_SOCIAL_ONLY_V2.csv'
df_notes_icd8xx_csru_social['SOCIAL'].to_csv(PATH_TO_SAVE+name_file_to_save,index=False)

In [ ]:
PATH_TO_SAVE = "/content/drive/MyDrive/NIH/Data/"
name_file_to_save = 'NOTES_NURSING_TRAJECTORIES_MICU_SOCIAL_WORKER_ONLY.csv'
df_notes_micu_social['TEXT'].to_csv(PATH_TO_SAVE+name_file_to_save,index=False)

In [ ]:
PATH_TO_SAVE = "/content/drive/MyDrive/NIH/Data/"
name_file_to_save = 'NOTES_NURSING_TRAJECTORIES_CSRU_TEXT_ONLY.csv'
#df_notes_icd8xx_tsicu_social['TEXT'].to_csv(PATH_TO_SAVE+name_file_to_save,index=False)

In [ ]:
PATH_TO_SAVE = "/content/drive/MyDrive/NIH/Data/"
name_file_to_save = 'NOTES_NURSING_TRAJECTORIES_CSRU_GCS_HADM.csv'
#df_notes_icd8xx_tsicu_gcs_scores.to_csv(PATH_TO_SAVE+name_file_to_save,index=False)

In [ ]:
df_note_icd8xx_tsicu = df_note_events[df_note_events['SUBJECT_ID'].isin(icd8xx_subjects_ids)]
print(f'Number of total notes: {len(df_note_icd8xx_tsicu)}')
df_nursing_progress_note_icd8xx_tsicu = df_note_icd8xx_tsicu[df_note_icd8xx_tsicu['DESCRIPTION']=='Nursing Progress Note']
print(f'Number of Nursing Progress Notes: {len(df_nursing_progress_note_icd8xx_tsicu)}')
df_discharge_note_icd8xx_tsicu = df_note_icd8xx_tsicu[(df_note_icd8xx_tsicu['CATEGORY']=='Discharge summary') ]
print(f'Number of Discharge summary: {len(df_discharge_note_icd8xx_tsicu)}')

In [ ]:
cgid_icd8xx_tsicu = df_nursing_progress_note_icd8xx_tsicu['CGID'].unique()
#print(f'Number of caregivers: {len(cgid_maxicu_tsicu)}')

In [ ]:
caregivers = "CAREGIVERS.csv"
df_caregivers = pd.read_csv(notes_path+caregivers)
df_caregivers[df_caregivers['CGID'].isin(cgid_icd8xx_tsicu)].LABEL.value_counts()

In [ ]:
name_file= "ADMISSIONS.csv"
df_adm = pd.read_csv(notes_path+name_file)
df_adm_icd8xx_tsicu = df_adm[df_adm['SUBJECT_ID'].isin(cgid_icd8xx_tsicu)]
df_adm_icd8xx_tsicu

Report

In [ ]:
print(f'Number of Subjects in TSICU: {len(subject_id_tsicu)}')
print(f'Number of subjects with a first sequence ICD 9 code [800,900) : {len(icd8xx_subjects_ids)}')
print('')
print('Subjects Expired (1), Alive (0): ')
print(df_patients_icd8xx_tsicu['EXPIRE_FLAG'].value_counts())
print('')
print('Gender:')
print(df_patients_icd8xx_tsicu['GENDER'].value_counts())
print('')
print(f'Number of total notes: {len(df_note_icd8xx_tsicu)}')
print(f'Number of Nursing Progress Notes: {len(df_nursing_progress_note_icd8xx_tsicu)}')
print(f'Number of Discharge summary: {len(df_discharge_note_icd8xx_tsicu)}')
print(f'Number of caregivers: {len(cgid_icd8xx_tsicu)}')

# END

## **Data Preprocessing**

In [ ]:
df_note_events.info()

Grab tsicu notes, merge with ward and patients tables

In [ ]:
# get new type of notes (TSICU)
df_notes_TSICU = pd.DataFrame()
#df_notes_TSICU = df_notes.merge(df_note_events[['ROW_ID', 'CATEGORY']], on='ROW_ID')
df_notes_TSICU = df_note_events.merge(df_caregivers.drop('ROW_ID', axis=1), on='CGID')
#df_notes_TSICU = df_notes_TSICU.merge(df_ward.drop('ROW_ID', axis=1), on='SUBJECT_ID')
df_notes_TSICU = df_notes_TSICU.merge(df_patients.drop('ROW_ID', axis=1), on='SUBJECT_ID')
#df_notes_TSICU = df_notes_TSICU[(df_notes_TSICU['first_careunit'] == 'TSICU') & (df_notes_TSICU['last_careunit'] == 'TSICU')].drop_duplicates()
df_notes_TSICU.info()

In [ ]:
df_notes_TSICU.head(5)

Join with ICD

In [ ]:
icd = "DIAGNOSES_ICD.csv"
df_icd = pd.read_csv(notes_path+icd)
df_icd.columns = df_icd.columns.str.upper()
df_icd = df_icd.dropna(subset=['SEQ_NUM'])
df_icd['SEQ_NUM'] = df_icd['SEQ_NUM'].astype(int)
unique_values = df_icd['SEQ_NUM'].unique()
print("unique_values: ")
print(unique_values)
idx = df_icd.groupby(['HADM_ID', 'SUBJECT_ID'])['SEQ_NUM'].idxmin()
df_icd = df_icd.loc[idx]
df_icd.info()

In [ ]:
df_notes_TSICU = df_notes_TSICU.merge(df_icd[['HADM_ID','ICD9_CODE','SEQ_NUM', 'SUBJECT_ID']], on=['HADM_ID', 'SUBJECT_ID'])
df_notes_TSICU.info()

In [ ]:
df_notes_TSICU.head(20)

In [ ]:
grouping = df_notes_TSICU.groupby(['CGID','SUBJECT_ID']).size()
df_notes_TSICU['num_of_notes'] = df_notes_TSICU.set_index(['CGID','SUBJECT_ID']).index.map(grouping)
df_notes_TSICU_filtered = df_notes_TSICU[df_notes_TSICU['num_of_notes'] > 1]
df_notes_TSICU_filtered.info()

In [ ]:
df_notes_TSICU_filtered.head(10)

Filter by number of notes

In [ ]:
gb_notes = df_notes_TSICU_filtered.groupby(['ICD9_CODE'])
num_notes = gb_notes['TEXT'].count()

print(f'number of notes: min={num_notes.min()}, max={num_notes.max()}, mean={num_notes.mean()},  median={num_notes.median()}')
sns.boxplot(x=num_notes)
sns.displot(num_notes[((num_notes>2) & (num_notes<100))])

In [ ]:
df_notes_TSICU_filtered.info()

In [ ]:
icd9_grouping = df_notes_TSICU_filtered.groupby(['ICD9_CODE']).size()
df_notes_TSICU_filtered['num_of_conditions'] = df_notes_TSICU_filtered.set_index(['ICD9_CODE']).index.map(icd9_grouping)
#df_notes_TSICU_filtered = df_notes_TSICU_filtered[(df_notes_TSICU_filtered['num_of_conditions'] >= 15) & (df_notes_TSICU_filtered['num_of_conditions'] <= 1000)]
#df_notes_TSICU_filtered = df_notes_TSICU_filtered[(df_notes_TSICU_filtered['num_of_conditions'] >= 15) & (df_notes_TSICU_filtered['num_of_conditions'] <= 100)]
df_notes_TSICU_filtered.info()
print(icd9_grouping)

In [ ]:
df_notes_TSICU_dropped_cols = df_notes_TSICU_filtered.drop(['STORETIME','CHARTDATE','CHARTTIME','DOB','DOD','DOD_HOSP','DOD_SSN'], axis=1)
df_notes_TSICU_dropped_cols.columns

select emotional words then filter rows that dont have a minimum number of them

In [ ]:
def filter_for_emotional_words(df):
  selected_words = ['pain', 'family', 'stable', 'care', 'well', 'social', 'support', 'able', 'decreased', 'warm', 'unable', 'strong', 'intact', 'good', 'times', 'aware', 'eyes', 'tolerated', 'denies', 'tolerating', 'please', 'palpable']
  print("selected_words list length: ", len(selected_words))
  pattern = '|'.join(selected_words)
  new_df = df[df['TEXT'].str.contains(pattern, regex=True)].copy()
  #filtered_data = df_notes_TSICU[df_notes_TSICU['TEXT'].str.contains(pattern, regex=True)].copy()
  new_df['num_search_words'] = new_df['TEXT'].str.count(pattern)
  #new_df = new_df[new_df['num_search_words'] >= 0]
  new_df.info()
  return new_df

In [ ]:
#filtered_data = filter_for_emotional_words(df_notes_TSICU_dropped_cols)
filtered_data = df_notes_TSICU_dropped_cols

Random selection from sample set

In [ ]:
#random_filtered_data = filtered_data.sample(n=50000, random_state=42)
random_filtered_data = filtered_data

Remove similar sentences

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

def remove_similar_notes(df):
  sentences = df['TEXT'].tolist()
  vectorizer = TfidfVectorizer()
  tfidf_matrix = vectorizer.fit_transform(sentences)
  similarity_threshold = 0.8

  similar_indices = []
  for i, sentence in enumerate(sentences):  # needs to be max 1000 entries
    if any(cosine_similarity(tfidf_matrix[i], tfidf_matrix[j])[0][0] > similarity_threshold for j in range(i)):  # very slow ~10 minutes for 1000 entries, exponential complexity (more than 5 hours if 6000 entries)
      similar_indices.append(i)
  index_labels = df.index[similar_indices]
  df.drop(index_labels, inplace=True)
  return df

Inverse Document Frequency

In [ ]:
vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = vectorizer.fit_transform(df_notes_icd8xx_tsicu_gcs_scores['TEXT'])

feature_names = vectorizer.get_feature_names_out()
tfidf_scores = tfidf_matrix.sum(axis=0).A1
word_score_dict = dict(zip(feature_names, tfidf_scores))

sorted_words = sorted(word_score_dict.items(), key=lambda x: x[1], reverse=True)

top_words = sorted_words[:50]

In [ ]:
print("Rank\tWord\t\t\tCount")
for rank, (word, score) in enumerate(top_words, start=1):
  print(f"{rank}\t{word.ljust(20)}\t{score}")

In [ ]:
#random_filtered_data = remove_similar_notes(random_filtered_data)
random_filtered_data.info()

Find matching conditions for both expired flags

In [ ]:
def split_set_half_expired(df):
  df['EXPIRE_FLAG'] = df['EXPIRE_FLAG'].astype(int)
  group_conditions = df.groupby(['ICD9_CODE', 'EXPIRE_FLAG'])
  def balance_conditions(g1,g2,size):
    size = min(len(g1), len(g2), size)
    return g1.sample(n=size, random_state=1), g2.sample(n=size, random_state=1)

  rows = []
  size = 50000

  for drg_desc, group in group_conditions:
    icd9, expire = drg_desc
    if (icd9, 1-expire) in group_conditions.groups:
      paired_group = group_conditions.get_group((icd9, 1-expire))
      group_sample1, group_sample2 = balance_conditions(group, paired_group, size)
      rows.append(group_sample1)
      rows.append(group_sample2)
      size -= len(group_sample1)
    if size <= 0:
      break

  new_df = pd.concat(rows)
  new_df = new_df.drop_duplicates()

  new_df.info()
  #print(new_df[['ICD9_CODE', 'EXPIRE_FLAG']])
  return new_df

  #valid_groups = [key for key, group in group_conditions.groups.keys() if (key[0], key[1], 1 - key[2]) in group_conditions.groups]
  #for key in valid_groups:
    #pass

In [ ]:
#balanced_data = split_set_half_expired(random_filtered_data)
balanced_data = random_filtered_data

Display notes

In [ ]:
pd.set_option('display.max_colwidth', 250)
pd.set_option('display.max_rows', None)
#print(balanced_data['TEXT'].head(200))
pd.reset_option('display.max_colwidth')
pd.reset_option('display.max_rows')

In [ ]:
print(balanced_data.columns)
print('\n'+"Number of rows: "+str(len(balanced_data)))

In [ ]:
balanced_data.info()

In [ ]:
no_duplicates = balanced_data.sort_values('ROW_ID').drop_duplicates(subset=['CGID', 'SUBJECT_ID'])
no_duplicates = no_duplicates.drop(['TEXT'], axis=1)  # removes text notes
no_duplicates.info()

Save to CSV

In [ ]:
# path and name of the cvs file
PATH_TO_SAVE = "/content/drive/MyDrive/NIH/Data/"
name_file_to_save = 'NOTES_NURSING_TRAJECTORIES_TSICU_COUNTS.csv'
#no_duplicates.to_csv(PATH_TO_SAVE+name_file_to_save,index=False)

Gather- top ICD9, # of: patients, deceased, CGs, notes

In [ ]:
icd9_max_val = balanced_data['num_of_conditions'].max()
icd9_max_df = balanced_data[balanced_data['num_of_conditions'] == icd9_max_val]

print("Max ICD9 code: " + icd9_max_df['ICD9_CODE'].unique())
print("Number of patients: " + str(icd9_max_df['SUBJECT_ID'].nunique()))
print("Number of deceased patients: " + str((icd9_max_df.drop_duplicates(subset='SUBJECT_ID')['EXPIRE_FLAG'] == 1).sum()))
print("Number of caregivers: " + str(icd9_max_df['CGID'].nunique()))
unique_cgid = icd9_max_df['CGID'].unique()
unique_cgid_df = icd9_max_df[icd9_max_df['CGID'].isin(unique_cgid)].drop_duplicates(subset=['CGID', 'LABEL'])
unique_cgid_df['LABEL'] = unique_cgid_df['LABEL'].fillna('UNKNOWN')
unique_cgid_df['LABEL'] = unique_cgid_df['LABEL'].str.upper()
print("Caregiver labels: " + '\n' + str(unique_cgid_df['LABEL'].value_counts()))
print("Number of caregivers: " + str(icd9_max_df['CGID'].nunique()))
print("Number of notes: " + str(len(icd9_max_df)))

deceased patients for unfiltered set

In [ ]:
len(df_notes_TSICU['SUBJECT_ID'].unique())
deceased_TSICU = df_notes_TSICU[df_notes_TSICU['EXPIRE_FLAG'] == 1]
deceased_TSICU.info()

In [ ]:
sns.set()

gb_notes = deceased_TSICU.groupby(['CGID','SUBJECT_ID'])
num_notes = gb_notes['TEXT'].count()
print(num_notes)
print(f'number of notes: min={num_notes.min()}, max={num_notes.max()}, mean={num_notes.mean()},  median={num_notes.median()}')
sns.boxplot(x=num_notes)
sns.displot(num_notes[((num_notes>2) & (num_notes<15))])

Seperate deceased and living

In [ ]:
deceased_patients = balanced_data[balanced_data['EXPIRE_FLAG'] == 1]
deceased_patients.info()

In [ ]:
living_patients = balanced_data[balanced_data['EXPIRE_FLAG'] == 0]
living_patients.info()

Tokenized words

In [ ]:
#text = df_notes_TSICU['TEXT'].str.cat(sep=' ')
#words = nltk.word_tokenize(text)  # very slow

Count words in notes

In [ ]:
#stopwords = nltk.corpus.stopwords.words('english')
#words = [word.lower() for word in words if word.lower() not in stopwords and re.match(r'\b\w+\b', word)]  # also slow but only kinda slow
#word_counts = Counter(words)
#most_common_words = word_counts.most_common(300)

In [ ]:
#print("Rank\tWord\t\t\tCount")
#for rank, word_count in enumerate(most_common_words, start=1):
  #word, count = word_count
  #print(f"{rank}\t{word.ljust(20)}\t{count}")

Emotional words

In [ ]:
#emotional_words = []
#for word_count in most_common_words:
  #word = word_count[0]
  #synsets = wn.synsets(word)
  #if synsets:
    #senti_synset = swn.senti_synset(synsets[0].name())
    #if senti_synset.pos_score() > 0.45 or senti_synset.neg_score() > 0.45:
      #emotional_words.append(word)

#emotional_words

In [ ]:
#from textblob import TextBlob
#emotional_words = []
#for word_count in most_common_words:
  #word = word_count[0]
  #tb = TextBlob(word)
  #sentiment = tb.sentiment.polarity
  #if abs(sentiment) > 0.35:
    #emotional_words.append(word)

#emotional_words